body {
    box-sizing:border-box;
    background-size: auto;
}

h1 {
    color: rgb(20, 4, 248);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    text-align: center;
    margin:auto;
    padding: auto;
    display: grid;

}


header {
    background: rgba(205, 212, 208, 0.7);
    width: 100%;
    position:relative;
    z-index: 100;
    
}


nav, a{
    background: rgba(205, 212, 208, 0.7);
    width: 100%;
    text-align: center;
    position:relative;
    z-index: 100;
    
}

nav {

    display: block;
    padding: 10px;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    color: rgb(0, 0, 0);
    text-decoration:none;
}
nav:hover {
    background: #8b5df7;
}   


form {
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

button {
    color: rgb(175, 243, 169);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}


label, input, select {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 5px;
}

input[type="submit"] {
    background-color: rgb(175, 243, 169);
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

